/*External CSS style*/

:root {
    --purple: #351043;
    --orange: #f7941d;
    --pink: #ec008c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--purple);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: var(--orange);
    font-size: x-large;
    font-family: Nunito, Arial, sans-serif;
}

.container-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

/*Drag Queens*/
.drag-queen {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.drag-queen:hover {
    background-color: #eee;
    cursor: pointer;
}

.drag-queen img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.drag-queen h2 {
    margin-top: 0;
    color: var(--purple);
    font-family: Raleway, Arial, sans-serif;
}

.drag-queen p {
    margin: 0;
    padding-bottom: 5px;
}

.quote {
    font-style: italic;
}

.drag-queen p strong {
    font-weight: bold;
    color: var(--pink);
}

.bio-container {
  float: right;
  padding: 0 20px;
  line-height: 150%;
}

.bio-container p strong {
    font-weight: bold;
    color: var(--pink);
}

/* Filters */
.filters {
    margin-top: 20px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filters input,
.filters select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}

.filters input:focus {
    outline: none;
}

.filters input[type="text"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}

footer{
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 20px;
}